.item-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;    
    padding: 0 10%;    
}

@media (max-width:668px){
    .item-container{   
        padding: 0 0;    
    }
}